
body {
  font-family: Arial, sans-serif;
  background-color: #141111;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}
h1 {
  text-align: center;
  color: white;
  margin: 0;
}

h2 {
  color: white;
  text-align: center;
  padding: 15px 0 15px 0;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}




.header {
  display: flex;
  justify-content:space-between;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: #141111; 
}

.logo {
  max-width: 200px; 
  height: 150px;
  /* margin-right: 250px;  */
}



/* this is default for label */

label {
  color: darkgray;
  font-weight: 100;
}



/* Updated right corner
-------------------------------
 */
.signup-button {
  padding: 10px 20px;
  margin-right: 50px;
  background-color: #af4c4c;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* End of Corner Bttns */



/* Create Review Page
-----------------------------------------------------------------
*/


.Create_rev_body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  justify-content: center;
  background-color: #141111;
}

.vehicle-details-section {
  display: flex;
  justify-content: space-between;
  margin-left: 100px; 
}

.input-section,
.upload-section {
  padding: 20px;
  box-sizing: border-box;
}

.upload-section {
  margin-right: 400px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}


.input-section {
  margin-right: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center; 
}

label {
  margin-right: 10px; 
}

input {
    flex: 1; 
    padding: 10px;
    box-sizing: border-box;
}

.sub_btn {
  padding: 10px 20px;
  width: 80%;
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fileInput {
  display: none;
  align-items: center;
  text-align: center;
  margin-left: 50;
}

label[for="fileInput"] {
  padding: 6px 12px;
  width: 100px;
  text-align: center;
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* display: block; */
}

#review_text {
  width: 100%;
  height: 150px;
}

label[for="review"] {
  display: block;
  margin-bottom: 5px;
}

.input-section [for="review"] {
  width: 100%;
}
